/* General Styling */
* {
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	border: 1px solid red;
	width: 100%;
}

#heading{
	background-color: #999999;
}

#nav{
	padding: 0px;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

#name{
	float: left;
	font-size: 20px;
	padding-top: 5px;
}

#icon {
	float: right;
}

footer{
	text-align: center;
	opacity: 0.7;
}

/* Styling the mobile dropdown menu */
ul.navBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.navBar li a {
	color: #000000;
	text-decoration: none;
	padding: 10px 0;
	background-color: #999999;
}

ul.navBar li{
	display: none;
}
/* Styling the animated menu icon */
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #000000;
	transition: 0.5s;
	margin: 6px 0;
}

.animate .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

.animate .bar2 {
	opacity: 0;
}

.animate .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

ul.navBar.responsive li {
	display: inline;
}

ul.navBar.responsive li a {
	display: block;
	text-align: center;
}

/* Tablet Sizing */
@media only screen and (min-width: 600px) {
.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
}

/* Desktop Sizing */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

